body{
  background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 100%);
}

form {
  text-align: center;
  margin-top: 5rem;
}

input {
  border-radius: 0.2rem;
  width: 25rem;
  height: 2rem;
  border: none;
  margin-right: 0.2rem;
}

button {
  width: 5rem;
  height: 2rem;
  background-color:rgb(20, 155, 20);
  border-radius: 0.2rem;
  border: none;
  color: #FFF;
}

.weather-cards {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.weather-card {
  text-align: center;
  width: 10rem;
  box-shadow: 0px 9px 12px 0px #204A6912;
}